<div class="container">
  <h2 id="title">Ember Text Overflow</h2>

  {{#text-overflow class="small-container"}}
    hover me long long long long long long long long text
  {{/text-overflow}}
  <br>
  {{#text-overflow alignRight=true class="small-container"}}
    another hover me long long long long long long long long text
  {{/text-overflow}}
</div>