<div class="container">
  <h2 id="title">Ember Text Overflow</h2>
  <TextOverflow @class="small-container">
    hover me long long long long long long long long text
  </TextOverflow>
  <br>

  <TextOverflow @alignRight=true @class="small-container">
    another hover me long long long long long long long long text
  </TextOverflow>
</div>